@import "../../styles/global.scss";

#about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    #user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .user-image {
            width: 6rem;
            border-radius: 50%;
            box-shadow: 0.1rem 0.1rem 0.6rem #c2c2c2;
        } 
        .user-name {
            font-size: 1rem;
            font-weight: 700;
            color: $black_color;
            text-align: center;
            margin-top: 1rem;
        }
        .user-profession {
            font-size: .8rem;
            font-weight: 300;
            color: $black_color;
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    .about-paragraph {
        margin-top: .5rem;
        font-size: .8rem;
        color: $black_color;
        font-weight: 400;
    }
    .experiences-list, .education-list {
        margin-left: 1.6rem;
    }
    .softskills {
        margin: .5rem 0 .8rem 0;
        font-size: .8rem;
        color: $black_color;
        font-weight: 400;
    }
    .hardskills-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: .5rem;
        .hardskills-item {
            list-style: none;
            font-size: .8rem;
            color: $black_color;
            font-weight: 400;
        }
    }
}

@media (min-width: 381px) and (max-width: 767px) {
    #about-page {
        #user {
            .user-image {
                width: 8rem;
            } 
            .user-name {
                font-size: 1.4rem;
                margin-top: .9rem;
            }
            .user-profession {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
        .about-paragraph {
            font-size: .95rem;
        }
        .experiences-list, .education-list {
            margin-left: 2.2rem;
        }
        .softskills {
            font-size: .95rem;
        }
        .hardskills-list .hardskills-item {
            font-size: .95rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #about-page {
        margin: 4rem 0;
        #user {
            .user-image {
                width: 9rem;
            } 
            .user-name {
                font-size: 1.6rem;
                margin-top: 1.5rem;
            }
            .user-profession {
                font-size: 1.2rem;
                margin-bottom: 2rem;
            }
        }
        .about-paragraph {
            margin-top: 1rem;
            font-size: 1.2rem;
        }
        .experiences-list, .education-list {
            margin-left: 1.5rem;
        }
        .softskills {
            margin: .7rem 0 1rem 0;
            font-size: 1.2rem;
        }
        .hardskills-list {
            gap: .7rem;
            margin-top: .7rem;
            .hardskills-item {
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    #about-page {
        margin: 5rem 0;
        #user {
            .user-image {
                width: 10rem;
            } 
            .user-name {
                font-size: 2.2rem;
                margin-top: 1.5rem;
            }
            .user-profession {
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
        }
        .about-paragraph {
            margin-top: 1rem;
            font-size: 1.6rem;
        }
        .experiences-list, .education-list {
            margin-left: 1.5rem;
        }
        .softskills {
            margin: 1rem 0 1.3rem 0;
            font-size: 1.5rem;
        }
        .hardskills-list {
            gap: 1rem;
            margin-top: 1rem;
            .hardskills-item {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    #about-page {
        margin: 6rem 0;
        #user {
            .user-image {
                width: 11rem;
            } 
            .user-name {
                font-size: 2rem;
                margin-top: 1.5rem;
            }
            .user-profession {
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
        }
        .about-paragraph {
            margin-top: 1rem;
            font-size: 1.6rem;
        }
        .experiences-list, .education-list {
            margin-left: 1.5rem;
        }
        .softskills {
            margin: 1rem 0 1.3rem 0;
            font-size: 1.6rem;
        }
        .hardskills-list {
            gap: 1rem;
            margin-top: 1rem;
            .hardskills-item {
                font-size: 1.6rem;
            }
        }
    }
}