@import "../../../styles/global.scss";

.h4 {
    font-size: .9rem;
    color: $black_color;
    font-weight: 700;
}

@media (min-width: 381px) and (max-width: 767px) {
    .h4 {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .h4 {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {
    .h4 {
        font-size: 1.7rem;
    }
}