@use "../../../../../styles/variables" as v;

#header-sm {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: 0;
    transition: .8s ease-in-out;
    .header-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        background-color: v.$bg-default;
        z-index: 0;
        .link-logo {
            margin-left: 1.2rem;
                .logo {
                width: 2rem;
                height: 2rem;
                filter: invert(1);
            };
        }
        .open-menu-button {
            font-size: v.$text-3xl;
            margin-right: 1.2rem;
            color: v.$text-primary;
        };
        .close-menu-button {
            font-size: v.$text-3xl;
            margin-right: 1.2rem;
            color: v.$text-primary;
        };
    };
    .menu {
        position: absolute;
        left: 0;
        display: flex;
        width: 100%;
        padding: .5rem 1.2rem 3rem 1.2rem;
        background-color: v.$bg-default;
        border-radius: 0 0 .3rem .3rem;
        top: -15rem;
        transition: 1s ease-in-out;
        z-index: -1;
        .menu-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            .menu-item {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                .menu-link {
                    font-size: v.$text-base;
                    color: v.$text-primary;
                    text-decoration: none;
                    padding: 1rem 0
                };
            };
        };
    };

    .menu-open {
        top: 100%;
    };
};