@import "../../../../../styles/global.scss";

#header-sm {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: 0;
    transition: .8s ease-in-out;
    .items-sm {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        background-color: $white_color;
        z-index: 0;
        .logo {
            width: 1.8rem;
            height: 1.8rem;
            margin-left: 1.2rem;
            filter: invert(1);
        };
        .menu-button {
            font-size: 1.8rem;
            margin-right: 1.2rem;
            color: $black_color;
        };
        .close-menu-button {
            font-size: 1.8rem;
            margin-right: 1.2rem;
            color: $black_color;
        };
    };
    .menu-sm {
        position: absolute;
        left: 0;
        display: flex;
        width: 100%;
        padding: 1rem 1.2rem 3rem 1.2rem;
        background-color: $white_color;
        border-radius: 0 0 .3rem .3rem;
        top: -10rem;
        transition: 1s ease-in-out;
        z-index: -1;
        .menu-list-sm {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            list-style: none;
            .menu-item-sm {
                text-decoration: none;
                border: none;
                border-bottom: solid .09rem #cccccc;
                padding-bottom: .8rem;
                .menu-link-sm {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    font-size: 1rem;
                    padding-left: 1rem;
                    color: $black_color;
                    text-decoration: none;
                };
            };
        };
    };
    .menu-sm-open {
        top: 100%;
    };
};

@media (min-width: 768px) {
    #navbar-mobile {
        display: none;
    };    
};