@import "../../../../styles/global.scss";

.education-list {
    margin-left: 1.6rem;
};

@media (min-width: 381px) and (max-width: 767px) {
    .education-list {
        margin-left: 2.2rem;
    };
};

@media (min-width: 768px) {
    .education-list {
        margin-left: 2.5rem;
    };
};