* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #F5F5F5;
  }
}

// :root {
//   font-size: 62.5%;
//   font-family: 'Merriweather Sans', sans-serif;
// }