@import "../../styles/global.scss";

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .home-page-logo {
        width: 100px;
        height: 100px;
        animation: welcomeLogo 1s;
    }
    .home-page-paragraph {
        color: $white_color;
        font-size: 1rem;
        font-weight: 300;
        text-shadow: .1rem .1rem .6rem $black_color;
        text-align: center;
        margin: .5rem;
        animation: welcomeText 1s;
    }
    .home-page-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
    }
    
}
@media (min-width: 381px) and (max-width: 767px) {
    #home-page {
        .home-page-logo {
            width: 120px;
            height: 120px;
        }
        .home-page-paragraph {
            font-size: 1.2rem;
            margin: .5rem;
        }
        .home-page-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin: 1rem 0;
        }
        
    }
}
@media (min-width: 768px) {
    #home-page {
        .home-page-logo {
            width: 160px;
            height: 160px;
        }
        .home-page-paragraph {
            font-size: 1.7rem;
            margin: 1.6rem 0 1.2rem 0;
        }
        .home-page-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin: 1rem 0;
        }
        
    }
}

@keyframes welcomeLogo {
    0% {
        transform: translatey(130px) scale(.1);
    }
    100% {
        transform: translatey(0) scale(1) ;
    }
}
@keyframes welcomeText {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: scale(1);
    }
}