@import "../../../styles/global.scss";

#menu {
    display: flex;
    width: 100%;
    padding: 1rem 1.2rem 3rem 1.2rem;
    background-color: $white_color;
    border-radius: 0 0 .3rem .3rem;
    border: solid .1rem #a1a1a1;
    border-top: none;
    position: absolute;
    top: -100vh;
    left: 0;
    transition: 1s ease-in-out;
    z-index: -1;
    .menu-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        list-style: none;
        .menu-item {
            text-decoration: none;
            border: none;
            border-bottom: solid .09rem #cccccc;
            padding-bottom: .8rem;
            .menu-link {
                display: flex;
                align-items: center;
                gap: .8rem;
                font-size: 1rem;
                padding-left: 1rem;
                color: $black_color;
                text-decoration: none;
                .menu-icon {
                    font-size: .4rem;
                    color: $black_color;
                }
            }
        }
    }
}

@media (min-width: 381px) and (max-width: 767px) {
    #menu {
        padding: 2rem 1.2rem 4rem 1.2rem;
        .menu-list {
            gap: 1.8rem;
            .menu-item .menu-link {
                font-size: 1.1rem;
                padding-left: 1.4rem;
                .menu-icon {
                    font-size: .5rem;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #menu {
        padding: 3rem 2rem 5rem 2rem;
        .menu-list {
            gap: 2rem;
            .menu-item .menu-link {
                font-size: 1.5rem;
                .menu-icon {
                    font-size: 2rem;
                    color: $white_color;
                }
            }
        }
    }
}