@import '../global.scss';

#contact{
    background-color: #000000;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-elements{
        z-index: 0;
        .contact-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
            h2 {
                color: $white;
                font-weight: 400;
                width: 25rem;
                text-align: center;
                margin-top: 8rem;
            }
            .contact-icons{
                display: flex;
                flex-direction: row;
                padding: 1rem;
                .icons{
                    color: $white;
                    font-size: 2.4rem;
                    border-radius: 50%;
                    padding: 0.5rem;
                    margin: 0 0.5rem;
                    border: solid 0.01rem $white;
                }
                .icons:hover{
                    color: $blue;
                    background-color: $white;
                }
            }
            .back-home{
                a {color: $white;
                font-size: 0.8rem;
                text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        .contact-footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                color: $white;
            }
            img {
                width: 10rem;
                height: 3rem;
                margin-top: 2rem;
            }
        }
    }
}
@media (max-width: 600px) {
    #contact .contact-elements .contact-contact h2 {
        width: 20rem;
        font-size: 1.4rem;
    }
}
@media (max-width: 950px) {
}
@media (min-width: 1367px){
    
}