@use "../../../../styles/variables" as v;

.skills-retangle-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;
    margin-top: 1rem;
    
    .retangle-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        background-color: #040404cc;
        min-width: 4.5rem;
        min-height: 4.5rem;
        border-radius: 2px;
        color: v.$text-terciary;
        font-size: v.$text-xxs;
        padding: 1rem;
        flex-basis: calc(33.33% - .4rem);
        text-align: center;

        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: v.$text-lg;
            padding: 2rem;

            &:hover {
                transform: scale(1.02);
            };
        }

        @media (min-width: 1024px) {
            font-size: v.$text-lg;
            padding: 2rem;
            flex-basis: auto;
            width: 10rem;
            height: 8rem;

            &:hover {
                transform: scale(1.02);
            };
        }

        .retangle-icon {
            font-size: v.$text-2xl;

            @media (min-width: 768px) {
                font-size: v.$text-3xl;
            };
        };

        .retangle-name {
            display: block;
            cursor: default;
        };
    };
};
