@import "../../styles/global.scss";

#about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
};

@media (min-width: 768px) and (max-width: 1023px) {
    #about-page {
        margin: 4rem 0;
    };
};

@media (min-width: 1024px) and (max-width: 1439px) {
    #about-page {
        margin: 5rem 0;
    };
};

@media (min-width: 1440px) {
    #about-page {
        margin: 6rem 0;
    };
};