@import '../global.scss';

#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card-elements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        h2 {
            margin: 0.5rem 0 0.1rem 0;
            color: $palette1;
        }
        .card-link a {
            color: #969696;
            
        }
    }
}