@use "../../../../styles/variables" as v;

.apresentation {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    .about-paragraph {
        font-size: v.$text-sm;
        color: v.$text-primary;
        font-weight: 300;
        
        @media (min-width: 381px) and (max-width: 767px) {
            font-size: v.$text-base;
        };
        
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: v.$text-lg;
        };
        
        @media (min-width: 1024px) {
            font-size: v.$text-xl;
        };
    };
}
