@import "../../../styles/global.scss";

.router-button {
    font-size: .8rem;
    background-color: transparent;
    padding: .5rem 1.5rem;
    border: solid .1rem $white_color;
    border-radius: .2rem;
    color: $white_color;
    text-decoration: none;
    font-weight: 300;
    transition: 1s ;
    animation: welcomeButtons 1s;
};

.router-button:hover {
    background-color: #d1d1d1;
    border: solid .1rem #d1d1d1;
    color: $black_color;
};

@media (min-width: 381px) and (max-width: 767px) {
    .router-button {
        font-size: 1rem;
    };
};

@media (min-width: 768px) {
    .router-button {
        font-size: 1.2rem;
        padding: 1rem 3rem;
        border-radius: .5rem;
    };
};

@keyframes welcomeButtons {
    0% {
        transform: scale(.1) translatey(-200px);
        
    };
    100% {
        transform: scale(1);
    };
};