@use "../../styles/variables" as v;

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    background-image: url("../../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    @media (min-width: 768px) {
        gap: 2rem;
    }
    
    .home-logo {
        width: 5.8rem;
        height: 5.8rem;
        animation: welcomeLogo 1s;
    
        @media (min-width: 381px) and (max-width: 767px) {
            width: 6.8rem;
            height: 6.8rem;
        }
    
        @media (min-width: 768px) {
            width: 7.8rem;
            height: 7.8rem;
        }
    }
    .home-title {
        color: v.$text-terciary;
        font-size: v.$text-lg;
        font-weight: 300;
        text-shadow: .1rem .1rem .6rem v.$text-primary;
        text-align: center;
        padding: 0 .5rem;
        animation: welcomeText 1s;

        em {
            font-style: italic;
        }

        @media (min-width: 381px) and (max-width: 767px) {
            font-size: v.$text-xl;
        }

        @media (min-width: 768px) {
            font-size: v.$text-2xl;
        }
    }
    .home-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 0 0.5rem;
        
        @media (min-width: 381px) and (max-width: 767px) {
            gap: 1.2rem;
        }
        
        @media (min-width: 768px) {
            gap: 2rem;
        }
    }
}

@keyframes welcomeLogo {
    0% { transform: translatey(130px) scale(.1); }
    100% { transform: translatey(0) scale(1); }
}

@keyframes welcomeText {
    0% { transform: scale(.1); }
    100% { transform: scale(1); }
}