@use "../../../../styles/variables" as v;

#profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .card-image {
        width: 6rem;
        height: 6.5rem;
        border-radius: 50%;
        box-shadow: 0.1rem 0.1rem 0.6rem #c2c2c2;

        @media (min-width: 381px) and (max-width: 767px) {
            width: 8rem;
            height: 8.5rem;
        };

        @media (min-width: 768px) and (max-width: 1023px) {
            width: 9rem;
            height: 0.5rem;
        };

        @media (min-width: 1024px) and (max-width: 1439px) {
            width: 10rem;
            height: 10.5rem;
        };

        @media (min-width: 1440px) {
            width: 11rem;
            height: 11.5rem;
        };
    };
    
    .card-name {
        font-size: v.$text-base;
        font-weight: 700;
        color: v.$text-primary;
        text-align: center;
        margin-top: 1rem;

        @media (min-width: 381px) and (max-width: 767px) {
            font-size: v.$text-lg;
            margin-top: .9rem;
        };

        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: v.$text-xl;
            margin-top: 1.5rem;
        };

        @media (min-width: 1024px) and (max-width: 1439px) {
            font-size: v.$text-2xl;
            margin-top: 1.5rem;
        };

        @media (min-width: 1440px) {
            font-size: v.$text-3xl;
            margin-top: 1.5rem;
        };
    };
    
    .card-profession {
        font-size: v.$text-xs;
        font-weight: 300;
        color: v.$text-primary;
        text-align: center;
        font-style: italic;

        @media (min-width: 381px) and (max-width: 767px) {
            font-size: v.$text-sm;
        };
        
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: v.$text-base;
        };
        
        @media (min-width: 1024px) and (max-width: 1439px) {
            font-size: v.$text-lg;
        };
        
        @media (min-width: 1440px) {
            font-size: v.$text-xl;
        };
    };
};
